@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


a {
  cursor: pointer;
  margin-left: 50px;
  margin-bottom: 10px;
  background-color: #803e1b;
  border-radius: 10px;

}

b {
  margin-bottom: 13px;



}

body{
  margin-top:0px;
  background: #c16d6d;
}
.card {

  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  margin-top:20px;
  margin-bottom: 50px;
}
.w-60 {
  width: 70px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 600;
}

a {
  color: #707070;
}
